
graafi .loading-indicator {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.5;
  z-index: 5;
}

graafi .loading-indicator.loading {
  visibility: visible;
}

graafi .loading-indicator img {
  /*
  position: absolute;
  z-index: 10;
  */
  position: absolute;
  top: 40%;
  left: 40%;
}


graafi > div {
  display: flex;
}

graafi > div > div:first-child {
  flex: auto;
}

graafi > div > div:last-child {
  width: 300px;
}


graafi .timeline .vis-time-axis {
  visibility: hidden;
}


graafi text.vis-label {
  opacity: 0.75;
  font-family: monospace;
}

graafi text.vis-label.label-bodyWeight {
  fill: blue;
}

graafi text.vis-label.label-bodyHeight {
  fill: yellowgreen;
}

graafi text.vis-label.label-bpm {
  fill: brown;
}
